<ul>
  <% @users.each do |user| %>
    <li>
      <div>Photo URL: <%= user.photo %></div>
      <div>User name: <%= user.name %></div>
      <div>Number of posts: <%= user.post_counter %></div>
    </li>
  <% end %>
</ul>

<br />