<ul>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div>
        <%= render partial: "shared/userCard", locals: { user: user } %>
      </div>
    <% end %>
  <% end %>
</ul>