<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<ul>
  <% @users.each do |user| %>
    <li class="card">
      <%= render partial: "shared/userCard", locals: { user: user } %>
      <button class="user_btn">
        <%= link_to "Access", user_path(user) %>
      </button>
    </li>
  <% end %>
</ul>
