<div class="comment_holder">
  <div class="comment">
    <div class="comment_name"><%= comment.user.name %>: </div>
    <div class="comment_text"><%= comment.text %></div>
  </div>
  <% if can? :manage, comment %>
    <%= button_to "Delete", user_post_comment_path(comment.user, comment.post, comment), method: :delete, class: "comment_delete" %>
  <% end %>
</div>
