<div class="post_title"><%= post.title %></div>
<div class="post_text"><%= post.text %></div>
<div class="post_media">
  <div class="post_comments">Comments: <%= post.comments_counter %></div>
  <div class="post_likes">Likes: <%= post.likes_counter %></div>
</div>