<% identifier = @posts.first %>
<% user = User.find(id = identifier.author_id) %>
<%= render partial: "shared/userCard", locals: { user: user } %>

<% @posts.each do |post| %>
  <%= link_to user_post_path(user, post) do %>
    <div class="post">
      <%= render partial: "shared/postCard", locals: { post: post } %>
    </div>
  <% end %>
  
  <div class="comments">
    <% post.recent_five_comments.each do |comment|%>
      <%= render partial: "shared/postComment", locals: { users: @users, comment: comment} %>
    <% end %>
  </div>
<% end %>
