.log-form {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  align-items: center;
}

.log-form h2 {
  margin-bottom: 40px;
  font-size: 35px;
}

.input {
  margin-bottom: 25px;
}

.actions {
  text-align: center;
  padding: 20px;
}
