.card {
  display: flex;
  width: 60%;
  margin: 30px auto;
  position: relative;
}

.photo {
  width: 200px;
}

.img {
  width: 150px;
}

.user_card {
  border: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user_name {
  font-size: 50px;
  align-self: center;
  margin-left: 80px;
}

.user_posts {
  font-size: 20px;
  align-self: end;
  margin: 0 30px 30px 0;
}

.user_btn {
  border-radius: 50px;
  border: 1px solid #000;
  position: absolute;
  right: 0;
}
